@import "tailwindcss";

:root {
  /* Light Mode Defaults */
  --background: #ededed;
  --foreground: oklch(13% .028 261.692);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* If the user has a preference for dark mode, set the dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(13% .028 261.692);
    --foreground: #ededed;
  }
}

/* Next‑Themes will toggle these on <html> */
html.light {
  --background: #ededed;
  --foreground: oklch(13% .028 261.692);
}
html.dark {
  --background: oklch(13% .028 261.692);
  --foreground: #ededed;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}